* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat Thin";
    /*font-weight: 1000;*/
}

.columns-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
    justify-content: space-evenly;
    padding-top: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: grey 2px solid;
    border-radius: 20px;
    box-shadow: inset black 0 0 5px;
}

.column1 {
    order: 3;
}

.column2 {
    order: 1;
}


.todo-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}

.todo-done {
    padding: 2px;
    margin-left: 5px;
}

.todo-status {
    display: flex;
    margin: auto;
}

.todo-done:hover {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
}

.todo-form {
    display: flex;
    flex-direction: column;
    width: min-content;
    flex-basis: content;
    border-radius: 10px;
    box-shadow: grey 2px 2px 12px;
    position: fixed;
    background-color: white;
}

.todo-form-input {
    margin: 5px;
}

label {
    text-align: center;
    font-size: small;
}

select {
    align-self: center;
    width: min-content;
}

.todo-header {
    word-break: break-word;
    width: 200px;
    background-color: rgba(255, 165, 0, 0.2);
    padding: 1px 2px 1px 2px;
    border-radius: 5px;
}

.todo-meta {
    word-break: break-word;
    width: 200px;
}

.extra {
    /*display: flex;*/
    /*justify-content: space-between;*/
    margin-bottom: 10px;
}

.trash {
    cursor: pointer;
    /*background: url("../assets/trash.png") no-repeat center/90%;*/
    width: 50px;
    /*height: 20px;*/
    border: none;
}

/*.trash:before {*/
/*    !*content: 'Delete';*!*/
/*    position: relative;*/
/*    right: 50px;*/
/*    font-family: "Montserrat";*/
/*}*/


.edit {
    cursor: pointer;
    /*background: url("../assets/edit.png") no-repeat center/90%;*/
    width: 35px;
    /*height: 20px;*/
    border: none;
}
/*.edit:after {*/
/*    content: 'Edit';*/
/*    position: relative;*/
/*    left: 20px;*/
/*    font-family: "Montserrat";*/
/*}*/

button {
    font-family: Montserrat;
    margin-top: 10px;
    padding: 3px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
}

button:hover {
    transition: background-color;
    transition-duration: .3s;
    background-color: rgba(128, 128, 128, 0.21);
}

#deleteContent, #deletePost {
    width: 20px;
    height: 20px;
}

.create-container {
    margin: 10px;
}