* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat Thin";
    font-weight: 1000;
}

p {
    font-size: 15px;
}

.columns-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
    justify-content: space-evenly;
    padding-top: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: grey 2px solid;
    border-radius: 20px;
    box-shadow: inset black 0 0 5px;
}

.column1 {
    order: 3;
}

.column2 {
    order: 1;
}

.todo-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}

.todo-done {
    padding: 2px;
    margin-left: 5px;
}

.todo-done:hover {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
}

.todo-form {
    display: flex;
    flex-direction: column;
    width: min-content;
    flex-basis: content;
    border-radius: 10px;
    box-shadow: grey 2px 2px 12px;
    position: fixed;
    background-color: white;
}

.todo-form-input {
    margin: 5px;
}

label {
    text-align: center;
    font-size: small;
}

select {
    align-self: center;
    width: min-content;
}

.todo-header {
    background-color: rgba(255, 165, 0, 0.2);
    padding: 1px 2px 1px 2px;
    border-radius: 5px;
}
.todo-meta {

}

